body {
  .img-thumbnail,
  .header #user_label img,
  .account .user-profile-picture {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
  }
}

.password-help {
  margin-top: -16px;
}

.profile-image {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
}

.ghost {
  padding: 0;

  li {
    display: inline-block;
    background: #949494;
    background-clip: content-box;
    width: 80px;
    height: 80px;
    padding: 3px;
    border: 1px solid #949494;
    text-align: center;

    a {
      line-height: 72px;
      color: #fff;
    }
  }
}
