.vote-composer {

  .composer-container {
    padding-top: 14px;

    .vote-reason {
      font-weight: 700;
    }
  }

  .form-group {
    padding-left: 8px;
    padding-right: 8px;

    > label {
      display: block;
    }
  }
}