.invite-composer {

  .composer-container {

    .invite-reason {
      font-weight: 700;
    }

    .username-container {
      margin-top: 18px;
    }

    .form-group {
      padding-left: 8px;
      padding-right: 8px;

      > label {
        display: block;
      }
    }
  }
}

div.bootbox {
  z-index: 9998;
}
