.group-detail {
  .panel {
    &.topic-list {
      .panel-heading {
        height: 37px;
        padding: 0 15px;

        .panel-title {
          height: 100%;
          line-height: 37px;

          a {
            background: #2461b2;
            padding: 0 15px;
            height: 100%;
            line-height: 35px;

            &:hover {
              background: #3179d5;
            }
          }
        }
      }

      .panel-body {
        table tr td {
          line-height: 32px;

          .fa {
            font-size: 18px;
            margin-right: 4px;
            vertical-align: middle;
            color: #555;

            &:hover {
              color: #222;
            }

            &:last-of-type {
              margin-right: 8px;
            }
          }

          &:first-of-type {
            padding-right: 6px;
            width: 10%;
          }
        }
      }
    }
  }
}
