#invite-detail {

  .topic-body {
    padding-bottom: 20px;
  }

  .small-text {
    font-size: 13px;
    line-height: 1.7em;
  }

  .post-content {
    padding-top: 4px;
  }

  .invite-text {
    font-size: 16px;
    color: #666;
    overflow: hidden;
    word-wrap: break-word;
    font-family: Arial, Raleway, Helvetica, sans-serif;

    .invite-user {
      margin-top: 12px;

      .invite-email-text {
        padding-left: 8%;
      }
    }
  }

  .invite-statistics {
    .invite-upvote {
      padding-bottom: 10px;
    }

    .statistics-list {
      padding: 0;
      list-style-type: none;

      .vote-up {
        color: orange;
      }

      .member-count,
      .vote-pass {
        color: #2461B2;
      }

      .vote-remain-count {
        color: red;
      }
    }
  }

  .invite-course {
    padding-bottom: 8px;
  }

  .course-list {
    padding-left: 18px;
  }
}
